@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap');

:root {

    --primary-color: #f3ede5;
    --secondary-color: #FFA500;
    --menu-font-color: #88828D;
    --button-color: #052105;
    --menu-background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    margin: 0rem 8rem;
}

body {
    background-color: var(--primary-color);

}

a,
p {
    text-decoration: none;
    color: var(--menu-font-color);
}

ul,
li {
    list-style: none;
    margin: 0;
    color: var(--menu-font-color);
}

/* ****** btns ******* */

.primary-btn {
    background-color: var(--button-color);
    padding: 1rem;
    border-radius: 5px;
    color: var(--menu-background-color);
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    align-self: flex-start;
}

/* ******** Nav ******* */

#nav {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 4rem 0;
}

#nav ul {
    display: flex;
    gap: 2.75rem;
}

#nav ul li {
    font-size: 18px;
    padding: 1rem 0rem;
    cursor: pointer;
}

/* ******** menu ********* */

.menu-hidden {
    position: absolute;
    width: 26rem;
    height: 19rem;
    margin-top: 4rem;
    margin-left: -2.75rem;
    background-color: var(--menu-background-color);
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 1;
}

.menu-hidden::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 75px;
    height: 15px;
    width: 15px;
    background-color: var(--menu-background-color);
    transform: rotate(45deg);
    z-index: -1;
}

.menu-list-hidden {
    display: flex;
    flex-direction: column;
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
    border-radius: 10px;
}

.menu-list-hidden li {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: -0.3rem;
    margin-bottom: -2rem;

}

.menu-item-hidden {
    margin: 0 0.75rem;
}

.menu-item-hidden h5 {
    color: var(--button-color);
}

.menu-item-hidden p {
    font-size: .9rem;
    color: var(--menu-font-color);
    font-stretch: wider;
    line-height: 1.25;
}

.active {
    opacity: 1;
    visibility: visible;
}

/********** Content *********/

#content {
    display: flex;
    justify-content: space-between;
}

#content-img {
    height: 100%;
    width: 500px;
}

#content-img img {
    height: 100%;
    width: 100%;
}

#content-text {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-text {
    display: flex;
    flex-direction: column;
}

.info-text>h1 {
    font-size: 5rem;
}

.info-text>h1>span {
    font-size: 4.5rem;
    color: var(--secondary-color);
}

.info-text p {
    font-size: 18px;
    margin: 1rem 0;
}

.info-list {
    display: flex;
    margin-bottom: 1.75rem;
}

.info-list ul {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}

.info-list ul li {
    margin: 0 0.25rem;
}


#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.icons img {
    padding: 1rem;
    margin: 1rem;
}