@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap');

:root {

    --primary-color: #f3ede5;
    --secondary-color: #FFA500;
    --menu-font-color: #88828D;
    --button-color: #052105;
    --menu-background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    margin: 0rem 8rem;
}

body {
    background-color: var(--primary-color);

}

a,
p {
    text-decoration: none;
    color: var(--menu-font-color);
}

ul,
li {
    list-style: none;
    margin: 0;
    color: var(--menu-font-color);
}

/* ****** btns ******* */

.primary-btn {
    background-color: var(--button-color);
    padding: 1rem 2rem;
    border-radius: 5px;
    color: var(--menu-background-color);
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    align-self: flex-start;
}

/* ******** Nav ******* */

#nav,
#nav-mobile {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 4rem 0;
}

#nav-mobile {
    display: none;
}

#nav ul {
    display: flex;
    gap: 2.75rem;
}

#nav ul li,
#nav-mobile ul li {
    font-size: 18px;
    padding: 1rem 0rem;
    cursor: pointer;
}


/* ******** menu ********* */

.menu-icon {
    display: none;
}

.menu-hidden,
.menu-hidden-mobile {
    position: absolute;
    width: 24.5rem;
    height: 19rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    margin-top: 4rem;
    margin-left: -2.75rem;
    background-color: var(--menu-background-color);
    border-radius: 15px;
    transition: all 0.5s;
    z-index: 1;
}

.menu-hidden::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 75px;
    height: 15px;
    width: 15px;
    background-color: var(--menu-background-color);
    transform: rotate(45deg);
    z-index: -1;
}

.menu-list-hidden {
    display: flex;
    flex-direction: column;
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
    border-radius: 10px;
}

.menu-list-hidden li {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: -0.3rem;
    margin-bottom: -2rem;

}

.menu-item-hidden {
    margin: 1 0.75rem;
}

.menu-item-hidden h5 {
    color: var(--button-color);
}

.menu-item-hidden p {
    font-size: .9rem;
    color: var(--menu-font-color);
    font-stretch: wider;
    line-height: 1.25;
}

.menu-list-hidden img {
    margin-right: 1rem;
}


.active {
    opacity: 1;
    visibility: visible;
}

.disable {
    opacity: 0;
    visibility: hidden;
}

/********** Content *********/

#content {
    display: flex;
    justify-content: space-between;
}

#content-img {
    height: 100%;
    width: 500px;
}

#content-img img {
    height: 100%;
    width: 100%;
}

#content-text {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-text {
    display: flex;
    flex-direction: column;
}

.info-text>h1 {
    font-size: 5rem;
}

.info-text>h1>span {
    font-size: 4.5rem;
    color: var(--secondary-color);
}

.info-text p {
    font-size: 18px;
    line-height: 1.75rem;
    margin: 1rem 0;
}

.info-list {
    display: flex;
    margin: 1.75rem 0;
}

.info-list ul {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}

.info-list ul li {
    margin: 0 0.25rem;
}

/* ********** footer ******** */

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.icons img {
    padding: 1rem;
    margin: 1rem;
}

@media (max-width: 1200px) {
    html {
        margin: 0 1rem;
    }

    #nav {
        display: none;
    }

    #nav-mobile {
        display: flex;
        justify-content: space-between;
    }

    /* ******* menu ****** */
    .menu-list,
    .menu-hidden {
        display: none;
    }

    .disable-display {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .close-icon {
        cursor: pointer;
        align-items: center;
        display: flex;
        padding: 0 0.75rem 0rem 0.75rem;
        justify-content: space-between;
    }

    .title {
        font-size: .8rem;
        font-weight: 600;
    }

    .menu-hidden-mobile {
        width: 22rem;
        height: 20rem;
        top: -1rem;
        right: 0.9rem;
    }

    .menu-hidden-mobile ul {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .menu-hidden-mobile li {
        display: flex;
        align-items: start;
    }

    .menu-list-hidden-mobile li img {
        margin-right: 1rem;
    }



    /********** Content *********/

    #content-text {
        margin-top: 0.5rem;
    }

    .info-text>h1 {
        font-size: 2.5rem;
    }

    .info-text>h1>span {
        font-size: 2.25rem;
        color: var(--secondary-color);
    }

    .info-text p {
        font-size: 1rem;
        margin: 0;
    }

    #content-img {
        display: none;
    }

    .info-list ul li {
        margin: 0 0.5rem;
    }

    /* ****** btns ******* */

    .primary-btn {
        margin: 1.5rem 0 2rem 0;
    }

    /* ********** footer ******** */

    #footer {
        margin: 3rem 0;
    }

    .icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .icons img {
        padding: 1rem;
        margin: 0rem;
        max-width: 80%;
    }

}

@media (max-width: 400px) {
    .menu-hidden-mobile {
        width: 20rem;
        height: 20rem;
    }

}